extends layout
block content
    #banner.page-header 
        .row 
            .col-lg-6 
                h1 
                    | MekanBul 
                    small &nbsp; Civardaki mekanları keşfet!
    .row 
        .row.list-group
        .col-xs-12.col-sm-12 
            .col-xs-12.list-group-item 
                h4  
                    a(href='/mekan') Barida Hotels Roof Restaurant 
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 6km
                p.address Isparta Merkez Bahçelievler 
                p 
                    span.label.label-warning Uluslararası
                    | &nbsp;
                    span.label.label-warning Akdeniz 
                    | &nbsp;
                    span.label.label-warning Bar
                    | &nbsp;
    .row 
        .row.list-group
        .col-xs-12.col-sm-12 
            .col-xs-12.list-group-item 
                h4  
                    a(href='/mekan') Hanedan Restaurant 
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                span.badge.pull-right.badge-default 5km
                p.address Isparta Fatih Mahallesi 
                p 
                    span.label.label-warning Türk Mutfağı
                     | &nbsp;
                    span.label.label-warning Kahvaltı 
                    | &nbsp;
    .row 
        .row.list-group
        .col-xs-12.col-sm-12 
            .col-xs-12.list-group-item 
                h4  
                    a(href='/mekan') Big Yellow Taxi 
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 6km
                p.address Isparta Bahçelievler Mahallesi 
                p 
                    span.label.label-warning Biftek Restoranı
                    | &nbsp;
                    span.label.label-warning Brew Pub 
                    | &nbsp;                

    



